

{% extends "CDPBookingBundle::layout.html.twig" %}

{% block body %}

<h3>Récapitulatif</h3>

<div class="well">
    <H1>{{ title }}</H1>
    <H3>{{ msg}}</H3>
    {% if isOk == false %}
        <a href={{ path('cdp_booking_resume')}}>Recommencez</a>
    {% endif %}
</div>
{% endblock %}