

{% extends "CDPBookingBundle::layout.html.twig" %}

{% block body %}

<div class="well">
    <H1>{{ title }}</H1>
    <H3>{{ msg}}</H3>
    {% if isOk == false %}
        <div class="bouton_recom">
            <a href={{ path('cdp_booking_resume')}}>Cliquer ici pour recommencez</a>
        </div>
    {% else %}
        <div class="bouton_recom">
            <a href={{ path('cdp_booking_homepage')}}>Retour à l'accueil</a>
        </div>
    {% endif %}
</div>
{% endblock %}